body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
  width:700px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

#hash-container {
  margin-bottom: 20px;
}

#hash-results {
  display: none;
  margin-top: 20px;
  max-width: 100%; /* Ensures the width doesn't exceed the parent's width */

}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dark-mode code{
  color:#333;
}

button:hover {
  background-color: #2980b9; /* Slightly darker blue on hover */
}

p {
  margin: 5px 0;
}

code.dark-mode{
  color:#333;
}
/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Responsive font size */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}


#upload-progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#upload-progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db; /* Progress bar color */
  border-radius: 5px;
  transition: width 0.3s; /* Add transition for smooth progress updates */
}
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.card h2 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  color: #666;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

button {
  background-color: #92c5ff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.vertical-button-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  width: 350px;
  text-align: center;
  margin: 20px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertical-button-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.vertical-button-card p {
  color: #666;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap:5px;
}






.button {
  cursor: pointer;
  flex-grow: 1;
  padding: 12px; /* Adjusted height */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e0e0e0; /* Light gray on hover */
}

.button:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

.copy-button,
.upload-button,
.verify-button {
  background-color: #f5f5f5; /* Lighter shade of gray */
  color: #333; /* Dark gray text */
  cursor: pointer;
}

svg {
  height: 1.5em;
  width: 1.5em;
  fill: #333;
  margin-right: 10px;
}


.hash-result h2 {
  margin-bottom: 10px;
  color: #333;
}

.hash-label {
  color: #666;
  font-size: 12px;
  margin-top: 10px;
}

.hash-result code {
  display: block;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
}

.file-info {
  margin-top: 20px;
  color: #666;
}



#hash-results > .card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  /* Add other styles for .card if needed */
}

#hash-results > .card > .hash-label {
  font-size: 1.2em;
  margin-bottom: 8px;
  /* Add other styles for .hash-label if needed */
}

 code {
  overflow: scroll; /* Hides content that overflows */
  text-overflow: ellipsis; /* Displays ellipsis (...) for overflowed content */
  font-family: 'Courier New', monospace;
  /* Add other styles for code if needed */
}


#dark-mode-switch-container {
  display: flex;
  align-items: center;
}

#dark-mode-switch-container label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 13px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.dark-mode-slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .dark-mode-slider {
  background-color: #41064c;
}

input:focus + .dark-mode-slider {
  box-shadow: 0 0 1px #500463;
}

input:checked + .dark-mode-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}


.file-card:hover {
  transform: scale(1.05);
}

.file-card{
display: flex;}

.file-card-content {
  border-radius: 10px;
  min-width: 85%;
  padding: 10px;
  border: solid 2px #dcdce1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  align-content: space-between;
}

.file-name {
  font-size: 1rem;
  color: #333;
}

.file-icon {

  margin-bottom: 5px;
}
#verify-form{
position: relative;
overflow: hidden;
display: none;
}


.notification {
  position: absolute;
  left: -100%; /* Initially off-screen */
  bottom: 50;
  height: 100%;
  padding:10px;
  width: 100%;
  background-color: #9bc29d00;
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  align-items: center;border-radius: 5px;
}

.countdown-line {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform-origin: right center;
  transform: scaleX(1);
  animation: countdown 3s linear forwards; /* Adjust the duration as needed */
}

@keyframes countdown {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.success {
  background-color: #a0d5a293;
  color: #fff;
}

.error {
  background-color: #e5857e6a;
  color: #fff;
}
.footer {
  background-color: #d2d2d2;
  color: #8f8d8d;
  border-radius: 20px;
  bottom: 0;
  display: flex;
  padding: 5px;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.footer a {
  color: #3498db;
  text-decoration: none;
}


/* logo */
.logo{
  width: 170px;
  display: flex;
  padding:5px 10px 0 0;

}

.logo > svg{
  width: 100%;
  height: auto;
}

#hash-container{
  margin: 20px;
  width: 90%;
  margin: 0 auto;
}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
width:100%;
  align-items: center;
  margin-bottom: 10px;
}

.file-card{
  width: 100%;
  margin:0 auto;
  margin-left: 100px;
  padding:5px 0;
cursor: pointer ;
}


#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.scroll {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


.close-button{
  cursor: pointer;
}